{%- if event.fireteam_full %}
Команда на это событие уже заполнена.
{% else %}
Нажмите {{ event.join_link }} чтобы присоединиться к этому событию. Еще {{ event.count }} могут присоединиться.
{% endif -%}
