Присоединиться к запланированной активности

Чтобы узнать номер нужной активности, посмотрите на вывод команды /list.

/join <номер активности>
    Присоединиться к этой активности, например /join1234
