{{guarName}} ищет группу для похода в {{groupName}}.

⏰ {{onTime}}

📖 Нажмите `/edit{{actId}} details <текст в свободной форме>` чтобы задать больше подробностей про событие.

✨ Нажмите /join{{actId}} чтобы присоединиться к этому событию.
