Помощь команды LFG:

Чтобы создать новое событие, наберите /lfg <краткое название события> <дата начала>

Краткое название события можно посмотреть через команду /activities
Дату начала можно указывать как абсолютную ГГГГ-ММ-ДД ЧЧ:ММ так и
в свободной форме (на английском), например "in 3 hours" или "next sunday".

Пример: /lfg kf 2018-09-10 23:00

Время указывается в Московской (MSK) зоне!
