{{guarName}} is looking for {{groupName}} group.

⏰ {{onTime}}

📖 Enter `/edit{{actId}} details <free form description text>` to specify more details about the event.

✨ Enter `/join{{actId}}` to join this group.
