❇️ Скоро начнутся следующие события:

{% for event in events -%}
{% include "reminders/event" %}
{%- if not loop.last %}
𑗌 {#- Siddham Section Mark With Rays And Dotted Crescents #}
{% endif %}
{% endfor %}
